<% content_for :title, "Edit impact rating - #{@impactable.title}" %>

<div class="outer-container md:w-4/5 my-5">
  <div class="mb-5">
    <%= link_to '‹ Back', impactable_path(@impactable), class: 'link' %>
  </div>

  <section class="p-5 bg-white rounded-lg shadow mb-6">
    <h1 class="font-lexenddeca text-xl text-brand-navy leading-tight">Edit progress impact_rating</h1>
    <hr class="mt-2 mb-6 border-brand-navy-10">
    <%= render 'form', model: @impact_rating, url: impactable_impact_rating_path(@impactable, @impact_rating) %>
  </section>
</div>
