<div class="bg-teal-800">
  <section class="outer-container py-4 text-white">
    <div class="flex justify-between items-baseline">
      <div class="mr-4">
        <h1 class="text-white text-xl font-semibold">
          <%= @person.name %>
          <% if @person.pronouns.present? %>
            <span class="text-base">(<%= @person.pronouns%>)</span>
          <% end %>
        </h1>
      </div>

      <%= link_to 'Edit', edit_person_path(@person), class: 'link text-gray-200' %>
    </div>
  </section>
</div>
