<% content_for :title, 'Edit objective' %>

<div class="outer-container md:w-4/5 my-6">
  <div class="mb-5">
    <%= link_to '‹ Back', objective_path(@objective), class: 'link' %>
  </div>

  <section class="p-5 bg-white rounded-lg shadow mb-6">
    <h1 class="text-xl text-blue-800 leading-tight">Edit objective</h1>
    <hr class="mt-2 mb-6 border-blue-800-10">
    <%= render 'form', model: @objective %>
  </section>
</div>
