<% content_for :title, 'New progress update' %>

<div class="outer-container md:w-4/5 my-5">
  <div class="mb-5">
    <%= link_to '‹ Back', targetable_indicator_path(@targetable, @indicator), class: 'link' %>
  </div>

  <section class="p-5 bg-white rounded-lg shadow mb-6">
    <h1 class="text-xl text-brand-navy leading-tight">New progress update</h1>
    <hr class="mt-2 mb-6 border-brand-navy-10">
    <%= render 'form', model: @progress_update, url: indicator_progress_updates_path(@indicator) %>
  </section>
</div>
