<% content_for :title, "Edit indicator - #{@targetable.title}" %>

<div class="mx-auto max-w-screen-md">
  <div class="m-5">
    <%= link_to '‹ Back', targetable_indicator_path(@targetable, @indicator), class: 'link' %>
  </div>

  <section class="m-5 p-5 bg-white rounded-lg shadow">
    <h1 class="font-semibold text-xl text-blue-800 leading-tight">
      Edit indicator
    </h1>
    <hr class="mt-2 mb-6 border-brand-navy-10">
    <%= render 'form', model: @indicator, url: targetable_indicator_path(@targetable, @indicator) %>
  </section>
</div>
