@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my_bg {
    @apply text-green-700;
  }

  /* Form */
  /* ======================================================================== */
  .label {
    @apply font-semibold block mb-1;
  }

  .hint {
    @apply text-sm mb-1 text-gray-700;
  }

  .input.string,
  .input.password,
  .input.select,
  .input.numeric,
  .input.date,
  .input.datetime,
  .input.text,
  .trix-editor,
  .selectize-input {
    border: 3px solid theme("colors.blue.800");
    @apply px-2 py-2 w-full;
  }

  .input.string:focus,
  .input.string.focus,
  .input.password:focus,
  .input.password.focus,
  .input.select:focus,
  .input.select.focus,
  .input.numeric:focus,
  .input.numeric.focus,
  .input.date:focus,
  .input.date.focus,
  .input.datetime:focus,
  .input.datetime.focus,
  .input.text:focus,
  .input.text.focus,
  .trix-editor:focus,
  .trix-editor.focus,
  .selectize-input:focus,
  .selectize-input.focus {
    outline: 3px solid theme("colors.yellow.300");
    outline-offset: 0;
  }

  .input.label,
  .input.selectize,
  .input.selectize-organisations,
  .input.selectize-contacts,
  .input.flatpickr-input {
    border: none;
    padding: 0;
  }

  .input.select:not(.selectize):not(.selectize-organisations):not(.selectize-contacts) {
    background: #fff
      url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
      no-repeat right 4px center !important;
    padding-right: 22px !important;
    appearance: none;
    -moz-osx-appearance: none;
    -webkit-appearance: none;
  }

  .radio {
    @apply block my-1;
  }
  .radio .input {
    @apply mr-2 cursor-pointer font-semibold;
  }
  .radio .input:focus {
    box-shadow: 0 0 0 3px theme("colors.yellow.300");
  }
  .radio label {
    @apply cursor-pointer;
  }

  .field_with_errors .error {
    @apply text-sm text-red-600;
  }
  .field_with_errors .error:first-letter {
    text-transform: capitalize;
  }

  .field_with_errors .input,
  .field_with_errors .trix-editor {
    @apply border-red-600;
  }

  /* Button */
  /* ======================================================================== */

  .btn {
    @apply inline-flex font-semibold rounded shadow px-3 py-1 transition-all duration-200 cursor-pointer;
  }
  .btn:hover {
    @apply bg-opacity-75;
  }

  .btn-wide {
    @apply inline-flex font-semibold rounded-md px-8 py-3 transition-all duration-200 cursor-pointer w-full;
  }
  .btn-wide:hover {
    @apply bg-opacity-75;
  }

  /* Layout */
  /* ======================================================================== */

  .outer-container {
    @apply mx-auto max-w-screen-xl px-5;
  }

  /* Status colors */
  /* ======================================================================== */

  .on_track {
    @apply text-green-700;
  }
  .at_risk {
    @apply text-orange-700;
  }
  .off_track {
    @apply text-red-700;
  }

  .bg_on_track {
    @apply bg-green-500;
  }
  .bg_at_risk {
    @apply bg-orange-500;
  }
  .bg_off_track {
    @apply bg-red-500;
  }

  .on_track_with_icon:before,
  .at_risk_with_icon:before,
  .off_track_with_icon:before {
    content: "";
    display: inline-block;
    position: relative;
  }

  .on_track_with_icon {
    @apply text-green-700;
  }
  .on_track_with_icon:before {
    margin: 2px 4px 1px 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid theme("colors.green.700");
  }

  .at_risk_with_icon {
    @apply text-orange-700;
  }
  .at_risk_with_icon:before {
    margin: 2px 4px 3px 0;
    border-left: 6px solid theme("colors.orange.700");
    border-right: 6px solid theme("colors.orange.700");
    border-bottom: 6px solid theme("colors.orange.700");
  }

  .off_track_with_icon {
    @apply text-red-700;
  }
  .off_track_with_icon:before {
    margin: 2px 4px 1px 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid theme("colors.red.700");
  }
}

html {
  overflow: hidden;
}

body {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
}

/* Nav */
/* ========================================================================== */

#main {
  width: 100%;
  margin-left: 0;
  transition: all 0.35s ease;
}
#nav {
  position: fixed;
  overflow-y: auto;
  left: -150px;
  width: 150px;
  height: 100%;
  transition: left 0.35s ease;
  z-index: 20;
}
#nav-toggle,
#nav-close {
  display: none;
}
#nav-open,
#nav-close {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  transition: left 0.35s ease;
  z-index: 20;
}

@media (max-width: 767px) {
  #nav-toggle:checked ~ #main:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10;
  }
  #nav-toggle:checked ~ #nav {
    left: 0;
  }
  #nav-toggle:checked ~ label #nav-open {
    left: 150px;
    opacity: 0;
  }
  #nav-toggle:checked ~ label #nav-close {
    left: 150px;
    position: fixed;
  }
  #nav-open {
    position: fixed;
    left: 0;
  }
  #nav-close {
    display: block;
    left: 0;
  }
  .nav-pad {
    margin-left: 45px;
  }
}

@media (min-width: 768px) {
  #main {
    margin-left: 150px;
    opacity: 1;
  }
  #nav {
    left: 0;
  }
  #nav-open {
    left: 150px;
    opacity: 0;
  }
  #nav-toggle:checked ~ #nav-controls #nav-close {
    display: none;
  }
}

/* Nav dropdown */
/* ========================================================================== */

#nav-dropdown {
  position: relative;
}
#nav-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all ease 0.15s;
}
#nav-dropdown:hover #nav-dropdown-menu {
  height: auto;
}

/* Filter toggle */
/* ========================================================================== */

#filter-body {
  display: none;
}
#filter-toggle {
  display: none;
}
#filter-control {
  cursor: default;
}
#chevron-down {
  transition: all ease 0.25s;
}
#filter-toggle:checked ~ #filter-body {
  display: block;
}
#filter-toggle:checked ~ #filter-control #chevron-down {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  #filter-control {
    cursor: pointer;
  }
  #chevron-down {
    display: block;
  }
  #filter-body {
    display: none;
  }
}

@media (min-width: 768px) {
  #chevron-down {
    display: none;
  }
  #filter-toggle:checked ~ #chevron-down {
    transform: rotate(180deg);
  }
  #filter-body {
    display: block;
  }
}
@import "actiontext.css";
